<header style="font-size: 25px;">
  <nav>
    <div class="navbar bg-base-100" style="background-color: #BBAB8C">
      <div class="flex-1">
        <%= link_to 'Home-Post', root_path, class: 'btn btn-ghost text-xl', style: 'font-size: 25px;' %>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          <li><a style="font-size: 30px;">Link</a></li>
          <li>
            <details>
              <summary style="font-size: 30px;">
              index  
              </summary>
              <ul class="p-2 bg-base-100 rounded-t-none">
                <li><%= link_to 'Top', root_path, style: 'font-size: 15px;' %></li>
                <li><%= link_to '新規投稿', new_post_path, style: 'font-size: 15px;' %></li>
                <li><%= link_to '投稿一覧', posts_path, style: 'font-size: 15px;' %></li>
              </ul>
            </details>
          </li>
          <li><%= link_to 'ユーザー名', '#', class: 'dropdown-item', style: 'font-size: 25px;' %></li>
          <li><%= link_to 'プロフィール', '#', class: 'dropdown-item', style: 'font-size: 25px;' %></li>
          <li>
            <%= form_with url: logout_path, method: :delete, class: 'dropdown-item' do %>
              <%= submit_tag 'ログアウト', style: 'font-size: 25px;' %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
