<header style="font-size: 25px;">
  <nav>
    <div class="navbar bg-base-100" style="background-color: #BBAB8C">
      <div class="flex-1">
        <%= link_to root_path, class: 'btn btn-ghost text-xl', style: 'font-size: 80px; height: 80px;' do %>
          <%= image_tag("https://i.gyazo.com/df33ce9bc34b954c21b7427ee42a8a6e.png", alt: "Logo", style: "height: 80px; vertical-align: middle;") %>
        <% end %>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1" style="align-items: center;">
        <%= link_to "<strong>#{current_user.first_name}</strong>の<br>プロフィール".html_safe, profile_user_path(current_user), class: 'dropdown-item', style: 'font-size: 15px; line-height: 1.5; padding: 5px;' %>
          <li>
            <%= form_with url: logout_path, method: :delete, class: 'dropdown-item', style: 'padding: 0; margin: 0;' do %>
              <%= image_submit_tag("https://i.gyazo.com/0a6f083e5f557330a22fbdec248c447e.png", style: 'height: 40px; vertical-align: middle;') %>
            <% end %>
          </li>
          <li>
            <details style="position: relative; z-index: 9999;">
            <summary style="font-size: 20px; padding: 5px;">
              <%= image_tag("https://i.gyazo.com/66b84def7036cafb9b2b105a22604763.png", style: 'height: 50px; vertical-align: middle;') %>
            </summary>
            <ul class="p-2 bg-base-100 rounded-t-none" style="width: 200%; white-space: nowrap; position: absolute; right: 0;">
              <li><%= link_to 'Top', root_path, style: 'font-size: 15px;' %></li>
              <li><%= link_to '新規投稿', new_post_path, style: 'font-size: 15px;' %></li>
              <li><%= link_to '投稿一覧', posts_path, style: 'font-size: 15px;' %></li>
            </ul>
          </details>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
