<h1 style="text-align: center; font-size: 2em; color: #333;">Edit</h1>
<div class="h-full w-full flex justify-center items-start px-4">

<%= form_with(model: @post, local: true) do |form| %>
  <div class="form-fields" style="display: flex; flex-direction: column;">
    <div class="field">
      <%= form.label :radio_name %>
    </div>
      <%= form.text_field :radio_name %>
    </div>

    <div class="field">
      <%= form.label :content %>
    </div>
      <%= form.text_area :content %>
    </div>

    <div class="actions" style="display: flex; justify-content: center;">
      <%= link_to 'キャンセル', posts_path, class: "ml-4" %>
      <%= form.submit "編集完了" %>
    </div>
  </div>
<% end %>
</div>
