<h1>投稿一覧</h1>

<% @posts.each do |post| %>
  <div>
    <h1><%= post.radio_name %></h1>
    <p><%= post.content %></p>
    <p>Votes: <%= post.votes.count %></p>
    <%= link_to 'Show Vote', show_vote_post_path(post) %>
    <%= button_to '投票する', vote_post_path(post), method: :post %>
  </div>
<% end %>
