<h1 style="text-align: center; font-size: 2em; color: #333; font-handwriting">新規投稿</h1>
<div class="h-full w-4/5 flex justify-end items-start font-handwriting">
<div class="h-96 w-full mt-14 carousel carousel-vertical rounded-box transform scale-400 font-handwriting">
<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>
<%= form_with model: @post || Post.new, url: posts_path, method: :post, id: 'post-form' do |form| %>
  <%= form.label :radio_name, "ラジオネーム" %>
  <div>
    <%= form.text_field :radio_name, maxlength: 25, placeholder: "名前", class: "input input-bordered input-accent w-full"  %>
  </div>
  <%= form.label :content, "本文" %>
  <div>
    <%= form.text_area :content, maxlength: 225, rows: 8, class: "textarea textarea-warning w-full", placeholder: "褒めpost" %>
  </div>
  <div class="w-full text-right">
    <% if current_user %>
      <%= form.submit "投稿", class: "btn btn-accent" %>
      <%= link_to '編集', edit_post_path(@post), class: "btn btn-accent" if @post&.persisted? %>
      <%= link_to '削除', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-accent" if @post&.persisted? %>
    <% else %>
      <button type="button" class="btn btn-accent" onclick="my_modal_5.showModal()">投稿</button>
    <% end %>
  </div>
<% end %>
  <!-- Daisy UIのモーダル -->
    <% unless current_user %>
    <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
      <div class="modal-box">
        <h3 class="font-bold text-lg">【注意】投稿内容の確認</h3>
        <p class="py-4">
          ゲストの場合、投稿内容の編集・削除ができません。<br>
          投稿内容に間違いがないか、<br>確認し「投稿を確定する」をクリックしてください。
        </p>
        <div class="modal-action">
        <button type="button" class="btn btn-error" onclick="document.getElementById('post-form').submit()">投稿を確定する</button>
          <button type="button" class="btn" onclick="my_modal_5.close()">編集する</button>
        </div>
      </div>
    </dialog>
    <% end %>
  </div>
</div>
