<!DOCTYPE html>
<html data-theme="cupcake">
  <head>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
    <title>home_dayori</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
        <%= link_to 'Top', root_path %>
        <%= link_to '新規投稿', new_post_path %>
        <%= link_to '投稿一覧', posts_path %>  
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>&copy; 2024 home_dayori</p>
    </footer>
  </body>
</html>
